@import './base.css';

#app {
  display: flex;
}

#content-view {
  flex: 1;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

section:not(:first-child) {
  margin-block: 30px;
}

section .code {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  white-space: pre;
  max-height: 150px;
  overflow: auto;
}
